<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934999453325-pg4nnshr8mpgo4vpb2f5k2o3kcj1jn5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934999453325-pg4nnshr8mpgo4vpb2f5k2o3kcj1jn5o</string>
	<key>API_KEY</key>
	<string>AIzaSyB6SC7ay9j7dOjAw4lUXm8Vn2DHga8xexk</string>
	<key>GCM_SENDER_ID</key>
	<string>934999453325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ei.Lost-Pet-Alert-App-V2</string>
	<key>PROJECT_ID</key>
	<string>lost-pet-alert-app-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>lost-pet-alert-app-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934999453325:ios:ffea3a316e7dfe6bcdfcc4</string>
</dict>
</plist>